.product{
    padding:10px 10px 19px 10px;
    margin:10px;
    border-radius:8px;
    border:0.005em solid #e4e4e4
}

.product-title{
    font-size:19px;
    font-weight: 700;
}

.product-details{
    display:flex;
    justify-content: space-between;
}

.product-category{
    margin:10px 0px 29px 0px
}

.product-category h2{
    padding:0px 0px 0px 10px;
    margin:0px
}


@media only screen and (min-width:768px) {
    .products{
        display:flex;
        overflow-x: auto;
    }
}