.product{
    padding:10px 10px 19px 10px;
    margin:10px;
    border-radius:8px;
    border:0.005em solid #e4e4e4
}

.product-title{
    font-size:19px;
    font-weight: 700;
}

.product-details{
    display:flex;
    justify-content: space-between;
}



@media only screen and (min-width:768px) {
    .products{
        display:flex;
        overflow-x: auto;
    }
}