.invoice{
    display:flex;
    justify-content: center;
    margin:15px 0px
}

.invoice-text{
    text-align:center;
    font-size:12px
}


.pending-payment {
    font-size:14px;
    text-align: center;
}