
.primarybutton{
    background:var(--blue);
    color:white;
    padding:16px 0px;
    text-align:center;
    border-radius: 10px;
    cursor: pointer;
}


.outlinedbutton{
    border:1px solid var(--blue);
    color:var(--blue);
    padding:19px 0px;
    text-align:center;
    border-radius: 10px;
    cursor: pointer;
    display:flex;
    justify-content: center;
    background:var(--white)
}


.spinner {
    border: 2px solid #007bff;
    border-top: 2px solid white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  